<!-- /recover - for forgotten passwords -->

<%= render :partial => 'spree/shared/error_messages', :locals => { :target => @spree_user } %>
<div class="col-md-6 col-md-offset-3" id="forgot-password">
  <div class="containing-box">
    <div class="delivery-margin-top">
      <p class="checkout-head-type"><%= Spree.t(:forgot_password) %></p>
    </div>
    <div class="change-me">
      <p><%= Spree.t(:instructions_to_reset_password) %></p>

      <%= form_for Spree::User.new, :as => :spree_user, :url => spree.reset_password_path do |f| %>
        <p>
          <%= f.label :email, Spree.t(:email) %>
          <%= f.email_field :email, :class => "form-control" %>
        </p>
        <p>
          <%= f.submit Spree.t(:reset_password), :class => 'ghost-button-green' %>
        </p>
      <% end %>
    </div>
  </div>
</div>
