<% products.each do |p| %>

<div class="col-xs-12 col-sm-6 col-md-4 flex-nav">
  <div class="card-juice-info" style="cursor: pointer;"><span class="glyphicon glyphicon-menu-down flex-nav" style="color: white;"></span></div>
  <div class="card">
    <div class="oversized-slide-card">

      <div class="card-top">
        <%= image_tag(p.images.last.attachment.url) if p.images.last %>
      </div>

        <div class="card-bottom">
          <div class="card-juice">
            <p class="card-juice-name"><span><%= p.name %></span></p>
            <p class = "card-juice-ingredients"><%= p.description %></p>
          </div>

          <div class="card-nutrition">
            <p class="card-juice-name" style="width:100%"><span><%= p.name %></span></p>
            <div class="card-nutrition-info"> 
              <p class="card-align-left"> <%= Spree.t(:calories) %> </p>
              <p class="card-align-right"><%= p.calories %></p>
              <div style="clear: both;"></div>
            </div>

            <div class="card-nutrition-info"> 
              <p class="card-align-left"> <%= Spree.t(:protein) %> </p>
              <p class="card-align-right"><%= p.protein %></p>
              <div style="clear: both;"></div>
            </div>
            
            <div class="card-nutrition-info"> 
              <p class="card-align-left"> <%= Spree.t(:fat) %> </p>
              <p class="card-align-right"><%= p.fat %></p>
              <div style="clear: both;"></div>
            </div>

            <div class="card-nutrition-info"> 
              <p class="card-align-left"> <%= Spree.t(:sugar) %> </p>
              <p class="card-align-right"><%= p.sugar %></p>
              <div style="clear: both;"></div>
            </div>

            <div class="card-nutrition-info"> 
              <p class="card-align-left"> <%= Spree.t(:fiber) %> </p>
              <p class="card-align-right"><%= p.fiber %></p>
              <div style="clear: both;"></div>
            </div>

            <div class="card-nutrition-info"> 
              <p class="card-align-left"> <%= Spree.t(:sodium) %> </p>
              <p class="card-align-right"><%= p.sodium %></p>
              <div style="clear: both;"></div>
            </div>

            <div class="card-nutrition-info" style="border-bottom: 0px;"> 
              <p class="card-align-left"> <%= Spree.t(:carbs) %> </p>
              <p class="card-align-right"><%= p.carbs %></p>
              <div style="clear: both;"></div>
            </div>

          <!--  <div class = "card-nutrition-border"></div> -->
          </div>

        </div>
      </div>
    </div>

</div>
<% end %>
