<!-- /about -->

<div class="container-fluid">
  <div class="row">

    <div class="top-of-page-text">

      <p>
<%= Spree.t(:our_story) %>
      </p>

    </div>

  </div>
</div>

<div class="container">
  <div class="row">

    <div class="col-xs-10 col-xs-offset-1">

      <p class="about">
        <%=@custom.about1%>
      </p>

    </div>

    <div class="col-xs-12 photo-gallery">

      <div class="about-picture">
        <div class="picture-centering">
          <%= image_tag @custom.photo1.url if @custom.photo1.url %>
        </div>
      </div>

      <div class="about-picture">
        <div class="picture-centering">
          <%= image_tag @custom.photo2.url if @custom.photo2.url %>
        </div>
      </div>

      <div class="about-picture">
        <div class="picture-centering">
          <%= image_tag @custom.photo3.url if @custom.photo3.url %>
        </div>
      </div>

    </div>

    <div class="col-xs-10 col-xs-offset-1">

      <p class="about">
        <%=@custom.about2%>
      </p>

    </div>

    <div class="col-xs-12">
      <div class="center-single-picture">
        <%= image_tag @custom.photo4.url if @custom.photo4.url %>
      </div>
    </div>

    <div class = "col-xs-10 col-xs-offset-1">
      <p class="about">
        <%=@custom.about3%>
      </p>
    </div>

  </div>
</div>
