<!-- /instoremenu -->

<%# @juices.each do |j| %>

<div class="container-fluid">
  <div class="row">

    <div class="menu-top-of-page-text">

      <p>
        <%= Spree.t(:menu) %>
      </p>

    </div>

  </div>
</div>

<div class="juice-container">

<% @juices.each do |j| %>

  <div class="card">

    <div class="card-left">
      <%= image_tag(j.images.last.attachment_file_name) %>
    </div>

      <div class="card-right">
        <div class="card-juice">
          <p class="card-juice-name"><span><%= j.name %></span></p>
          <p class = "card-juice-ingredients">ingredi ingredi ingredi ingredi <%#= j.ingredients %></p>
          <p class="card-juice-info" style="cursor: pointer; text-align: center;">營養成分</p>
        </div>

        <div class="card-nutrition">
          <div class="card-nutrition-info"> 
            <p class="card-align-left">Calories </p>
            <p class="card-align-right"><%= j.calories %></p>
            <div style="clear: both;"></div>
          </div>

          <div class="card-nutrition-info"> 
            <p class="card-align-left">Protein </p>
            <p class="card-align-right"><%= j.protein %></p>
            <div style="clear: both;"></div>
          </div>
          
          <div class="card-nutrition-info"> 
            <p class="card-align-left">Fat </p>
            <p class="card-align-right"><%= j.fat %></p>
            <div style="clear: both;"></div>
          </div>

          <div class="card-nutrition-info"> 
            <p class="card-align-left">Sugar </p>
            <p class="card-align-right"><%= j.sugar %></p>
            <div style="clear: both;"></div>
          </div>

          <div class="card-nutrition-info"> 
            <p class="card-align-left">Fiber </p>
            <p class="card-align-right"><%= j.fiber %></p>
            <div style="clear: both;"></div>
          </div>

          <div class="card-nutrition-info"> 
            <p class="card-align-left">Sodium </p>
            <p class="card-align-right"><%= j.sodium %></p>
            <div style="clear: both;"></div>
          </div>

          <div class="card-nutrition-info"> 
            <p class="card-align-left">Carbs </p>
            <p class="card-align-right"><%= j.carbs %></p>
            <div style="clear: both;"></div>
          </div>

          <p class="card-back" style="cursor: pointer;">back</p>
        </div>

      </div>
    </div>

<% end %>

</div>
