<!-- /instoremenu -->

<%# @juices.each do |j| %>

<div class="container-fluid">
  <div class="row">

    <div class="menu-top-of-page-text">

      <p>
        <%= Spree.t(:menu) %>
      </p>

    </div>

  </div>
</div>

<div class="category-for-menu instore">- <%= Spree.t(:Delivery) %> - </div>
<div class="deliverable-container">
  <%#= render partial: 'spree/custom/productBuilder', locals: { products: @delivery, taxon: @taxon } %>
</div>

<div class="category-for-menu instore">- <%= Spree.t(:juice) %> - </div>
<div class="juice-container">
  <%= render partial: 'spree/custom/productBuilder', locals: { products: @juices, taxon: @taxon } %>
</div>

<div class="category-for-menu instore">- <%= Spree.t(:smoothie) %> - </div>
<div class="smoothie-container">
   <%= render partial: 'spree/custom/productBuilder', locals: { products: @smoothies, taxon: @taxon } %>
</div>

<div class="category-for-menu instore">- <%= Spree.t(:tea) %> - </div>
<div class="tea-container">
 <%= render partial: 'spree/custom/productBuilder', locals: { products: @teas, taxon: @taxon } %>
</div>

<div class="category-for-menu instore">- <%= Spree.t(:food) %> - </div>
<div class="food-container">
 <%= render partial: 'spree/custom/productBuilder', locals: { products: @food, taxon: @taxon } %>
</div>
