<!-- /instoremenu -->

<%# @juices.each do |j| %>
  <div id="shop-picture">
    <div class="container">
      <div class="row flex-fix">

        <div class="col-xs-6">
          <div class="shop-slider-text">
            <p>
              <%= Spree.t(:instore_menu) %>
            </p>
          </div>
        </div>
        <div class="col-xs-6"></div>

      </div>
    </div>
  </div>

<div class="container-fluid">




  <div class="container">
    <div class="row">

        <%= render partial: 'spree/custom/productBuilder', locals: { products: @delivery, taxon: @taxon } %>
      
    </div>

    <div class="row">

      <div class="menu-top-of-page-text">
        <p class="titles"><%= Spree.t(:menu) %></p>
        <p class="menu-subtext">杯裝 110 • 玻璃瓶裝 135</p>
      </div>
      <div class="language-selector">
        <p class="zhongwen language-active">中文</p>
        <p>•</p>
        <p class="english">English</p>
      </div>

    </div>

    <div id="english-menu" class="row menu-deactivate">
      <%= render partial: 'spree/custom/englishMenu' %>
    </div>

    <div id="zhongwen-menu" class="row">
      <%= render partial: 'spree/custom/zhongwenMenu' %>
    </div>

  </div>


</div>
