<div class="container-fluid">
  <div class="row">

    <div class="top-of-page-text">

      <p>
        Nutrition Information
      </p>

    </div>

  </div>
</div>

<div class="container">
  <div class = "row add-bottom-border">

    <div id = "nutrition-category-markers" class="visible-md visible-lg">

      <div class="col-md-5 visible-md visible-lg">
        <!-- Name of Product -->
        <p class = "product-name-marker">
          Drink Name
        </p>
      </div>

      <div class="col-md-1 visible-md visible-lg">
        <!-- Calories -->
        <p>
          Calories
        </p>
      </div>

      <div class="col-md-1 visible-md visible-lg">
        <!-- Protein -->
        <p>
          Protein
        </p>
      </div>

      <div class="col-md-1 visible-md visible-lg">
        <!-- Fat -->
        <p>
          Fat
        </p>
      </div>

      <div class="col-md-1 visible-md visible-lg">
        <!-- Carbohydrates -->
        <p>
          Carbs
        </p>
      </div>

      <div class="col-md-1 visible-md visible-lg">
        <!-- Sugar -->
        <p>
          Sugar
        </p>
      </div>

      <div class="col-md-1 visible-md visible-lg">
        <!-- Dietary Fiber -->
        <p>
          Fiber
        </p>
      </div>

      <div class="col-md-1 visible-md visible-lg">
        <!-- Sodium -->
        <p>
          Sodium
        </p>
      </div>

    </div>
  </div>
  <% @products.each do |p| %>

  <div class="row add-bottom-border">

    <div id = "nutrition-list-item" class="visible-md visible-lg">

      <div class="col-md-5 visible-md visible-lg">
        <!-- Name of Product -->
      <%=  link_to product_path(p) do %>
        <p class="drink-name">
         <%=p.name%>
        </p>
        <% end %>
      </div>

      <div class="col-md-1 visible-md visible-lg">
        <!-- Calories -->
        <p>
          <%=p.calories%>
        </p>
      </div>

      <div class="col-md-1 visible-md visible-lg">
        <!-- Protein -->
        <p>
          <%=p.protein%>
        </p>
      </div>

      <div class="col-md-1 visible-md visible-lg">
        <!-- Fat -->
        <p>
          <%=p.fat%>
        </p>
      </div>

      <div class="col-md-1 visible-md visible-lg">
        <!-- Carbohydrates -->
        <p>
          <%=p.carbs%>
        </p>
      </div>

      <div class="col-md-1 visible-md visible-lg">
        <!-- Sugar -->
        <p>
          <%=p.sugar%>
        </p>
      </div>

      <div class="col-md-1 visible-md visible-lg">
        <!-- Dietary Fiber -->
        <p>
          <%=p.fiber%>
        </p>
      </div>

      <div class="col-md-1 visible-md visible-lg">
        <!-- Sodium -->
        <p>
          <%=p.sodium%>
        </p>
      </div>

    </div>

  </div>
  <% end %>

  <!-- Changing the Style to an Accordion Menu for Mobile and Small tabs -->

  <div id = "mobile-accordion" class="col-sm-12 visible-xs visible-sm">
    <% @products.each do |p| %>
    <div class="panel-group" id="accordion<%=p.id%>">

      <!-- First Nutrition Line Item -->
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion<%=p.id%>" href="#collapse<%=p.id%>"><%=p.name%></a>
          </h4>
        </div>
        <div id="collapse<%=p.id%>" class="panel-collapse collapse">
          <div class="panel-body height-adjustment">

            <div class="col-xs-8">

              <p>
                Calories
              </p>

            </div>

            <div class="col-xs-4">

              <p class="accordion-numbers">
                <%=p.calories%>
              </p>

            </div>

            <div class="col-xs-4">

              <p>
                Protein
              </p>

            </div>

            <div class="col-xs-2">

              <p class="accordion-numbers">
                <%=p.protein%>
              </p>

            </div>

            <div class="col-xs-4">

              <p>
                Fat
              </p>

            </div>

            <div class="col-xs-2">

              <p class="accordion-numbers">
                <%=p.fat%>
              </p>

            </div>

            <div class="col-xs-4">

              <p>
                Carbs
              </p>

            </div>

            <div class="col-xs-2">

              <p class="accordion-numbers">
                <%=p.carbs%>
              </p>

            </div>

            <div class="col-xs-4">

              <p>
                Sugar
              </p>

            </div>

            <div class="col-xs-2">

              <p class="accordion-numbers">
                <%=p.sugar%>
              </p>

            </div>

            <div class="col-xs-4">

              <p>
                Fiber
              </p>

            </div>

            <div class="col-xs-2">

              <p class="accordion-numbers">
                <%=p.fiber%>
              </p>

            </div>

            <div class="col-xs-4">

              <p>
                Sodium
              </p>

            </div>

            <div class="col-xs-2">

              <p class="accordion-numbers">
                <%=p.sodium%>
              </p>

</div>
          </div>
        </div>
      </div>
      <%end%>
    </div>
  </div>
</div>
