<% variant = line_item.variant %>
<%= order_form.fields_for :line_items, line_item do |item_form| %>

<div id="line-item">
  <div class="row">

<!-- visible classes added to test small version -->

    <div class="col-xs-12 flex-line-item">

      <div class="col-xs-3 col-sm-1">
        <div class="cart-item-image" data-hook="cart_item_image">
          <% if variant.images.length == 0 %>
            <%= link_to small_image(variant.product), variant.product %>
          <% else %>
            <%= link_to image_tag(variant.images.first.attachment.url(:small)), variant.product %>
          <% end %>
        </div>
      </div>

      <div class="col-xs-7 col-sm-4">
        <div class="cart-item-description" data-hook="cart_item_description">
          <h4><%= link_to line_item.name, product_path(variant.product) %></h4>
        <!-- <p class="beautiful-text-hierarchy nathan beautify"> <%#= variant.option_values.pluck(:presentation).join(" + ") %></p> -->
          <% line_item.preference.each do |p|%>
        <p class="beautiful-text-hierarchy nathan beautify"> <%= p%> </p>
          <% end %>   
        <% if line_item.insufficient_stock? %>
            <span class="out-of-stock">
              <%= Spree.t(:out_of_stock) %>&nbsp;&nbsp;<br />
            </span>
          <% end %>
        </div>
      </div>

      <div class="col-xs-7 col-sm-2">
        <div class="lead text-primary cart-item-price" data-hook="cart_item_price">
          <%= line_item.single_money.to_html[0..-4] %>
        </div>
      </div>

      <div id="quantity-text" class = "col-xs-6">
        <%= Spree.t(:quantity) %>
      </div>

      <div class="col-xs-6 col-sm-2">
        <div class="cart-item-quantity" data-hook="cart_item_quantity" valign="center">
          <%= item_form.number_field :quantity, min: 0, class: "form-control line_item_quantity", size: 5 %>
        </div>
      </div>

      <div class="draw-dotted-line col-xs-12"></div>

      <div id="total-text" class = "col-xs-6">
        <%= Spree.t(:total) %>
      </div>

      <div class="col-xs-6 col-sm-2">
        <div class="lead text-primary cart-item-total" data-hook="cart_item_total">
          <%= line_item.display_amount.to_html[0..-4] unless line_item.quantity.nil? %>
        </div>
      </div>

      <div class="col-xs-2 col-sm-1 mobile-destroy">
        <div class="cart-item-delete" data-hook="cart_item_delete">
          <%= link_to content_tag(:span, '', class: 'glyphicon glyphicon-remove'), '#', class: 'destroy', id: "delete_#{dom_id(line_item)}" %>

            <% end %>
        </div>

      </div>

    </div>

  </div>


</div>
