<% @body_id = 'cart' %>

<!-- Shopping Cart Picture, same as Shop Picture -->

<div id="shop-picture">
  <div class="container">

    <div class="row flex-fix">
      <div class="col-xs-10">

        <span class="shop-slider-text">
          <p>
            <%=Spree.t(:shopping_cart) %>
          </p>
        </span>

      </div>

      <div class="col-xs-2"></div>

    </div>
  </div>
</div>

<!-- container to fix the spacing -->
<div class="container">

  <div data-hook="cart_container">

    <% if @order.line_items.empty? %>

    <div id="no-items-in-cart">
      <p>
      <%= Spree.t(:your_cart_is_empty) %>
      </p>
    </div>
    <a href="/products">
      <div class="ghost-button-orange button-center">
        <p>
          <%= Spree.t(:continue_shopping) %>
        </p>
      </div>
    </a>

    <!-- If your cart has stuff in it -->
  <% else %>



    <div data-hook="outside_cart_form">

      <%= form_for @order, url: update_cart_path, html: { id: 'update-cart' } do |order_form| %>

      <div data-hook="inside_cart_form">

        <div class="container">

            <%= render partial: 'form', locals: { order_form: order_form } %>

        </div>

      </div>

      <div class="row">


        <div class="col-xs-12 col-md-6 col-md-offset-6 right" data-hook="cart_buttons">
          <%#= button_tag class: 'btn btn-primary special-btn', id: 'update-button', name: 'update' do %>
          <%#= Spree.t(:update) %>


          <%= button_tag class: 'ghost-button-orange', id: 'checkout-link', name: 'checkout' do %>
          <p>
          <%= Spree.t(:PROCEED_TO_CHECKOUT) %>
          </p>

        </div>

        <!-- <div class='col-xs-12 col-md-pull-6 col-md-6 left' data-hook='coupon_code'>
          <label>
            <%#= order_form.text_field :coupon_code, placeholder: Spree.t(:coupon_code), size: '30', class: 'form-control' %>
          </label>

          <%#= button_tag Spree.t(:coupon_code_apply), class: 'btn btn-default special-btn' %>
        </div>

         -->

        <% end %>
        <%end%>


      </div>


      <div id="empty-cart" class="col-xs-12" data-hook>
        <%= form_tag empty_cart_path, method: :put do %>
        <p id="clear_cart_link" data-hook>
          <%= submit_tag Spree.t(:empty_cart), class: 'btn btn-default special-btn' %>
          <%= Spree.t(:or) %>
          <%= link_to Spree.t(:continue_shopping), products_path, class: 'continue' %>
        </p>
        <% end %>
      </div>

    <% end %>

    </div>
  </div>
</div>

<script>
  Spree.current_order_id = "<%= @order.number %>"
  Spree.current_order_token = "<%= @order.guest_token %>"
</script>
