<%= form_for :order, id:"add-to-cart-from-product-show", remote: true, :url => variant_populate_orders_path, method: 'post' do |f| %>
<div id="inside-product-cart-form" data-hook="inside_dynamic_variant_product_cart_form">

    <div class = "dynamic-variants">

      <% @product.option_types.each_with_index do |ot, index| %>

        <div class="check-these-boxes">

          <%= check_box_tag("options[]", ot.option_values.first.id, false, type:"checkbox", id: ot.presentation) %>

          <label for="<%= ot.presentation %>">+</label>

        </div>
        <span><%= ot.presentation %></span>

        <% if ((index + 1) % 2) == 0 && ot != @product.option_types.last %>
          </div>
          <div class = "dynamic-variants">
        <% end  %>

      <% end %>

    </div>

    <%= hidden_field_tag "product_id", @product.id %>

    <% if @product.price_in(current_currency) and !@product.price.nil? %>
    <div data-hook="product_price" class="columns five <% if !@product.has_variants? %> alpha <% else %> omega <% end %>">

      <div id="product-price">
        <h6 class="product-section-title"><%= Spree.t(:price) %></h6>
        <div>
          <span class="price selling" itemprop="price">
            <%= display_price(@product)[0..-4] %><span class = "addon-price"></span>
          </span>
          <span itemprop="priceCurrency" content="<%= @product.currency %>"></span>
        </div>
      </div>
      <div class="add-to-carts">
        <div class="row">

        <div class = "col-xs-12 col-sm-8 col-sm-offset-2">
          <div class = "col-xs-6 mini-gutter-right">

            <div class="quantity-cart" style="margin: 20px auto 0;">

              <div class="dropdown">
                <button class="form-control dropdown-toggle" type="button" data-toggle="dropdown"><%= @product.name %>
                <span class="caret"></span></button>
                <ul class="dropdown-menu">
                  <% @boxes.each do |b|%>
                  <li><%= link_to spree.product_path(b) do %>
                     <%= b.name%></li>
                  <% end %>
                  <% end %>
                </ul>

              </div>

            </div>

          </div>

          <div class = "col-xs-6 mini-gutter-left">
            <div class="quantity-cart">
          
              <%= number_field_tag :quantity, 1, class: 'title form-control col-xs-6', min: 1 %>
          
            </div>
          </div>
        </div>


          <!-- <div class="col-xs-12 col-sm-8 col-sm-offset-2"></div> -->

          <div class="col-xs-12 col-sm-8 col-sm-offset-2">
            <div class="quantity-cart">

              <!-- change these first three to hidden_field_tag to hide them  -->

              <%= hidden_field_tag :addon_quantity, 0, id:"addon-quantity", class: 'title form-control col-xs-6', min: 0 %>
              <%= hidden_field_tag :addon_names, "", id:"addon-name", class: 'title form-control col-xs-6', placeholder: "addon_names" %>
              <%= hidden_field_tag :juice_names, "", id:"juice-name", class: 'title form-control col-xs-6', placeholder: "juice_names" %>
              <%= text_area_tag :preference, "", id:"preference", class: 'title extra-information col-xs-6', placeholder: Spree.t(:add_any_allergies_or_special_request_for_this_box) %>

            </div>
          </div>

          <div class="col-xs-12">
            <% if @juices.nil? %>
              <%= button_tag class: 'add-to-cart-orange click-me-animation', id: 'add-to-cart-button', type: :submit do %>
              <%= Spree.t(:add_to_cart) %>
              <% end %>
            <% else %>
            <!-- class: 'add-to-cart-orange click-me-animation', id: 'add-to-cart-button' -->
              <%= button_tag class: 'add-to-cart-orange add-to-cart-disabled click-me-animation', id: 'add-to-cart-button', disabled: true, type: :submit do %>
              <%= Spree.t(:add_to_cart) %>
              <% end %>
            <% end %>

          </div>

        </div>
      </div>
    </div>

  <% else %>
    <div id="product-price">
      <br>
      <div>
        <span class="price selling" itemprop="price"><%= Spree.t('product_not_available_in_this_currency') %></span>
      </div>
    </div>
    <% end %>
  </div>
  <% end %>
