<%# @body_id = 'product-details' %>

<% cache cache_key_for_product do %>

<!-- handles splash image and product image -->
<div id="product-container">
  <div class="product-splash-image">
    <!-- background-image: url("/images/splat.png") -->
  </div>
  <!-- <div class="row no-gutters"> -->

    <div class="col-md-6">

      <div class="product-holder-image">
          <%= product_image(@product, itemprop: "image") %>

          <!-- additional-information is the Nutrition information Hover state -->
          <div class="additional-information">

            <div class="row">

            <div class="col-xs-12">
              <strong>Nutrition Information</strong>
            </div>

            <div class="col-xs-9">
              <%= Spree.t(:calories) %>
            </div>
            <div class="col-xs-3">
            <%=  @product.calories ? @product.calories : "150" %>
            </div>

            <div class="col-xs-9">
              <%= Spree.t(:protein) %>
            </div>
            <div class="col-xs-3">
              <%=  @product.protein ? @product.protein : "150" %>
            </div>

            <div class="col-xs-9">
              <%= Spree.t(:fat) %>
            </div>
            <div class="col-xs-3">
              <%=  @product.fat ? @product.fat : "150" %>
            </div>

            <div class="col-xs-9">
              <%= Spree.t(:carbs) %>
            </div>
            <div class="col-xs-3">
              <%=  @product.carbs ? @product.carbs : "150" %>
            </div>

            <div class="col-xs-9">
              <%= Spree.t(:sugar) %>
            </div>
            <div class="col-xs-3">
              <%=  @product.sugar ? @product.sugar : "150" %>
            </div>
            <div class="col-xs-9">
              <%= Spree.t(:fiber) %>
            </div>
            <div class="col-xs-3">
              <%=  @product.fiber ? @product.fiber : "150" %>
            </div>

            <div class="col-xs-9">
              <%= Spree.t(:sodium) %>
            </div>
            <div class="col-xs-3">
              <%=  @product.sodium ? @product.sodium : "150" %>
            </div>

          </div>

        </div>
      </div>

    </div>

  <!-- handles product text -->

    <div class="col-md-6">

      <!-- <div class="row no-gutters"> -->
        <div class="col-xs-12 flex-column">
          <div class="product-name">
            <p>
              <%= @product.name %>
            </p>
          </div>
        </div>

        <div class="col-xs-12">
          <div class="productmakeup">
            <p>
              <%= @product.description1 %>
            </p>
          </div>
        </div>

        <div class="col-xs-12">
          <div class="productdesc">
            <p>
              <%= product_description(@product) %>
            </p>
          </div>
        </div>

        <%= form_for :order, url: populate_orders_path do |f| %>

          <div class = "col-xs-12">

              <% if @product.variants_and_option_values(current_currency).any? %>
                <div id="product-variants" class="col-md-6">
                  <h3 class="product-section-title"><%= Spree.t(:add_ons) %></h3>
                  $20
                  <ul class="list-group">
                    <% @product.variants_and_option_values(current_currency).each_with_index do |variant, index| %>
                      <li>
                        <%= radio_button_tag "variant_id", variant.id, index == 0,
                            'data-price' => variant.price_in(current_currency).money,
                            'data-in-stock' => variant.can_supply?
                        %>
                        <%= label_tag "variant_id_#{ variant.id }" do %>
                          <span class="variant-description">
                            <%= variant_options variant %>
                          </span>
                          <% if variant_price variant %>
                            <span class="price diff"><%= variant_price variant %></span>
                          <% end %>
                          <% unless variant.can_supply? %>
                            <span class="out-of-stock"><%= Spree.t(:out_of_stock) %></span>
                          <% end %>
                        <% end %>
                      </li>
                    <% end%>
                  </ul>
                </div>
              <% else %>
                <%= hidden_field_tag "variant_id", @product.master.id %>
              <% end %>

            </div>

            <div id="cart-form" data-hook="cart_form" class="col-xs-12">
              <div class="button-contain flex-column">
                <%= render partial: 'cart_form', locals: {f:f} %>
              </div>
            </div>

        <% end %>
      <!-- </div> -->

    </div>

  <!-- </div> -->

</div>



<% end %>
