<%# @body_id = 'product-details' %>

<% cache cache_key_for_product do %>

<!-- handles splash image and product image -->
<div id="product-container">
  <div class="product-splash-image">
    <!-- background-image: url("/images/splat.png") -->
  </div>
  <!-- <div class="row no-gutters"> -->

      <!-- <div class="product-holder-image"> -->


        <% if @delivery.nil? %> <!-- Regular Box Page -->

        <div class="col-md-6 flex-column">
          <div class="product-holder-image">
          <!-- This takes care of each menu item and< it's ingredients -->
            <%= large_image(@product, itemprop: "image") %>
          <%#= image_tag(@product.images.last.attachment.url) if @product.images.last.present?  %>
                         
          </div>

          <!-- Add-Ons -->
                  <div class="col-xs-12">
                    <p class="category-for-menu" style="padding-top: 50px;">
                      <%= Spree.t(:select_extras)%>
                    </p>
                  </div>

                  <% @extras.each do |e| %>

                    <div class="col-xs-12 col-sm-6 custom-box-container">
                      <div class="subtract-extra">
                        -
                      </div>

                      <div class="add-extra hover-effect">
                        +
                      </div>

                      <div class="extra-quantity"><span class="number">0</span> x</div>

                      <div class="custom-extra">
                        <%= e.name %>
                      </div>

                    </div>

                    <% end %>


        </div>

      

      <div class="col-md-6 flex-column">
        
        <!-- <div class="row no-gutters"> -->
        <div class="col-xs-12">
          <div class="product-name">
            <p>
              <%= @product.name %>
            </p>
          </div>
        </div>

        <div class="col-xs-12">
          <div class="productdesc">
            <p>
              <%= product_description(@product) %>
            </p>
          </div>
        </div>

        <div id="cart-form" data-hook="cart_form" class="col-xs-12">
          <div class="button-contain flex-column">
            <%= render :partial => "dynamic_variant_cart_form" %>
          </div>
        </div>


      </div>

      <!-- <div class="container"> -->
        <!-- <div class="row"> -->
          
          <% else %>  <!-- Custom Box Page -->

      <div class="col-xs-12 col-md-6 col-lg-5 col-lg-offset-1">

          <div class="product-holder-image">
          <!-- This takes care of each menu item and< it's ingredients -->
            <%= large_image(@product, itemprop: "image") %>
          <%#= image_tag(@product.images.last.attachment.url) if @product.images.last.present?  %>
                         
          </div>

        <!-- Add-Ons -->

        <p class="category-for-menu col-xs-12" style="padding-top: 50px;">
          <%= Spree.t(:select_juices) %> <span><%#=Spree.t(:select_six)%></span>
        </p>

        <% @delivery.each do |d| %>

          <div class="col-xs-12 col-sm-6 custom-box-container">
            <div class="subtract-juice">
              -
            </div>

            <div class="add-juice hover-effect">
              +
            </div>

            <div class="juice-box-quantity">0 x</div>

            <div class="custom-box-juice"><%= d.name %></div>

          </div>

        <% end %>

        <p class="category-for-menu col-xs-12" style="padding-top: 50px;">
            <%= Spree.t(:select_extras)%>
        </p>

        <% @extras.each do |e| %>

          <div class="col-xs-12 col-sm-6 custom-box-container">
            <div class="subtract-extra">
              -
            </div>

            <div class="add-extra hover-effect">
              +
            </div>

            <div class="extra-quantity"><span class="number">0</span> x</div>

            <div class="custom-extra"><%= e.name %></div>

          </div>
      
        <% end %>

      </div>  

      <div class="col-md-6 flex-column">
      
      <!-- <div class="row no-gutters"> -->
      <div class="col-xs-12">
        <div class="product-name" style="padding-top: 30px;">
          <p>
            <%= @product.name %>
          </p>
        </div>
      </div>

      <div class="col-xs-12">
        <div class="productdesc">
          <p>
            <%= product_description(@product) %>
          </p>
        </div>
      </div>

      <div id="cart-form" data-hook="cart_form" class="col-xs-12">
        <div class="button-contain flex-column">
          <%= render :partial => "dynamic_variant_cart_form" %>
        </div>
      </div>


    </div>

    <% end %>

      </div>

</div>

<% end %>
