<%# @body_id = 'product-details' %>

<% cache cache_key_for_product do %>

<!-- handles splash image and product image -->
<div id="product-container">
  <div class="product-splash-image">
    <!-- background-image: url("/images/splat.png") -->
  </div>
  <!-- <div class="row no-gutters"> -->

    <div class="col-md-6">

      <div class="product-holder-image">
          <%= product_image(@product, itemprop: "image") %>

          <!-- additional-information is the Nutrition information Hover state -->
          <div class="additional-information">

            <div class="row">

            <div class="col-xs-12">
              <strong>Nutrition Information</strong>
            </div>

            <div class="col-xs-9">
              <%= Spree.t(:calories) %>
            </div>
            <div class="col-xs-3">
            <%=  @product.calories ? @product.calories : "150" %>
            </div>

            <div class="col-xs-9">
              <%= Spree.t(:protein) %>
            </div>
            <div class="col-xs-3">
              <%=  @product.protein ? @product.protein : "150" %>
            </div>

            <div class="col-xs-9">
              <%= Spree.t(:fat) %>
            </div>
            <div class="col-xs-3">
              <%=  @product.fat ? @product.fat : "150" %>
            </div>

            <div class="col-xs-9">
              <%= Spree.t(:carbs) %>
            </div>
            <div class="col-xs-3">
              <%=  @product.carbs ? @product.carbs : "150" %>
            </div>

            <div class="col-xs-9">
              <%= Spree.t(:sugar) %>
            </div>
            <div class="col-xs-3">
              <%=  @product.sugar ? @product.sugar : "150" %>
            </div>
            <div class="col-xs-9">
              <%= Spree.t(:fiber) %>
            </div>
            <div class="col-xs-3">
              <%=  @product.fiber ? @product.fiber : "150" %>
            </div>

            <div class="col-xs-9">
              <%= Spree.t(:sodium) %>
            </div>
            <div class="col-xs-3">
              <%=  @product.sodium ? @product.sodium : "150" %>
            </div>

          </div>

        </div>
      </div>

    </div>

  <!-- handles product text -->

    <div class="col-md-6">

      <!-- <div class="row no-gutters"> -->
        <div class="col-xs-12 flex-column">
          <div class="product-name">
            <p>
              <%= @product.name %>
            </p>
          </div>
        </div>

        <div class="col-xs-12">
          <div class="productmakeup">
            <p>
              <%= @product.description1 %>
            </p>
          </div>
        </div>

        <div class="col-xs-12">
          <div class="productdesc">
            <p>
              <%= product_description(@product) %>
            </p>
          </div>
        </div>

        <div id="cart-form" class="col-xs-12">
          <div class="button-contain flex-column">
            <% if @product.dynamic_variants? %>
             <%= render :partial => "dynamic_variant_cart_form" %>
           <% else %>
             <%= render :partial => "cart_form" %>
           <% end %>
          </div>
        </div>
      <!-- </div> -->

    </div>

  <!-- </div> -->

</div>



<% end %>
