<%# @body_id = 'product-details' %>

<% cache cache_key_for_product do %>

<!-- handles splash image and product image -->
<div id="product-container">
  <div class="product-splash-image">
    <!-- background-image: url("/images/splat.png") -->
  </div>
  <!-- <div class="row no-gutters"> -->

      <!-- <div class="product-holder-image"> -->
        <% if @juices.nil? %>
        
        <div class="col-md-6">
          <div class="product-holder-image">
          <!-- This takes care of each menu item and< it's ingredients -->
          <%#= product_image(@product, itemprop: "image") %>
          <%= image_tag(@product.images.last.attachment_file_name) if @product.images.last.present?  %>                 
       </div>
      </div>

      <!-- <div class="container"> -->
        <!-- <div class="row"> -->
          
          <% else %>
                  <div class="col-md-6">

          <p class="category-for-menu">
            -
            <%= Spree.t(:juice) %> -
          </p>
          <% @juices.each do |j| %>
          <div class=" menu-spacer">
            <!-- This takes care of each menu item and it's ingredients -->
            <p class="menu-item">
              <%= j.name %>
            </p>
            <p class="menu-item-ingredients">
              <%= j.description %>
            </p>
          </div>
          <% end %>
                    </div>


          <% end %>
          
          <div class="col-md-6">

            <!-- <div class="row no-gutters"> -->
            <div class="col-xs-12 flex-column">
              <div class="product-name">
                <p>
                  <%= @product.name %>
                </p>
              </div>
            </div>

            <div class="col-xs-12">
              <div class="productdesc">
                <p>
                  <%= product_description(@product) %>
                </p>
              </div>
            </div>

            <div id="cart-form" data-hook="cart_form" class="col-xs-12">
              <div class="button-contain flex-column">
                <%= render :partial => "dynamic_variant_cart_form" %>
              </div>
            </div>

            <!-- </div> -->
          </div>

          </div>




          <!-- </div> -->

        

          <!-- additional-information is the Nutrition information Hover state -->


  <!-- handles product text -->



  <!-- </div> -->

</div>



<% end %>
