<!-- /signup -->

<% @body_id = 'signup' %>
<%= render :partial => 'spree/shared/error_messages', :locals => { :target => @user } %>
<%= form_for resource, :as => :spree_user, :url => spree.registration_path do |f| %>

<div class="container">
  <div class="row">

    <!-- Title -->
    <div class="col-xs-12">
      <div class="top-of-page-text">
        <p>
          <%= Spree.t(:create_a_new_account) %>
        </p>
      </div>
    </div>

  </div>

  <!-- Login/Register -->
  <div class="row">

    <div class="col-md-8 col-md-offset-2">
      <p class="title-text">
        <%= Spree.t(:welcome_to) %> Canopy
      </p>
      <%= render :partial => 'spree/shared/user_form', :locals => { :f => f } %>
      <p><%= f.submit Spree.t(:create), :class => 'ghost-button-green' %></p>

    </div>

  </div>

</div>

<% end %>
