<div id="footer">
  <div id="footer-top">
    <div class="row">

      <div class="col-sm-4">
        <div class="footer-text-center">
          <p>
            <span class="glyphicon glyphicon-envelope">&nbsp;</span>
            <a href="mailto:canopyjuiceilan@gmail.com">canopyjuiceilan@gmail.com</a>
          </p>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="footer-text-center">
          <p>
            <span class="glyphicon glyphicon-earphone">&nbsp;</span>
             <a href="tel:+866-03-935-8662">+866 03 935 8662</a>
          </p>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="footer-icons-center">
          <a href="https://www.facebook.com/canopyjuice/" class="fa fa-facebook"></a>
          <a href="https://www.instagram.com/canopyjuiceilan/" class="fa fa-instagram"></a>
        </div>
      </div>

    </div>
  </div>

  <div id="footer-middle">
    <div class="row">

      <div class="col-sm-4">
        <div class="footer-middle-text-center">
          <p>
            <%= Spree.t("OUR STORE") %> <br /><br />
            <a href="https://www.google.com.tw/maps/place/Canopy+Juice%E5%8D%A1%E8%AB%BE%E6%AF%94%E6%9E%9C%E6%B1%81%E5%90%A7/@24.7448656,121.7427473,17z/data=!3m1!4b1!4m5!3m4!1s0x3467e4ec86eb7d4b:0xce992b84b548c4be!8m2!3d24.7448607!4d121.744936?hl=tw">
            宜蘭市女中路三段117號<br />
            Yilan City</a>
          </p>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="footer-middle-text-center">
          <p>
        <%= Spree.t("STORE_HOURS") %>  <br /><br />
            <%= Spree.t("Sunday") %>  - <%= Spree.t("Tuesday") %> : 12pm - 8pm <br />
            <%= Spree.t("Thursday") %>  - <%= Spree.t("Friday") %> : 12pm - 8pm <br />
            <%= Spree.t("Wednesday") %>  <%= Spree.t("and") %>  <%= Spree.t("Saturday") %> : <%= Spree.t("closed") %>
          </p>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="footer-middle-text-center">
          <p>
            <%= Spree.t(:HELP)
            %> <br /><br />
          <%=Spree.t(:terms_of_use)%> <br />
          <%=Spree.t(:privacy_policy)%>          </p>
        </div>
      </div>

    </div>
  </div>


  <div id="footer-bottom">

    <div class="row">

      <div class="col-xs-12">
        <div class="footer-text-center">

          <p class="copyright-info">
              ©2017 Canopy Juice
          </p>

        </div>
      </div>

    </div>

  </div>

</div>
