<div id="spree-header">
  <header id="header" class="menuUp" data-hook>
    <div id="navigation" class="container-fluid">
      <div class="row">
        <div id="fill" class='col-xs-0 col-md-3'></div>
        <figure id="logo" class='col-xs-6 flex-nav' data-hook>
            <div id="logocenter" class="col-xs-12">

              <div class="navLogo flex-nav">
                <%= logo %>
              </div>
            </div>

        </figure>
        <div id="navButtons" class='col-xs-6 col-md-3'>

          <div class='col-xs-4 flex-nav nav-element'>

            <a href="/account">
              <div id = "user-test"></div>
            </a>

          </div>

          <div class = 'col-xs-4 col-sm-3 col-md-4 pull-right flex-nav nav-element'>

            <div id="nav-icon1" class="open-burger closed">
              <span></span>
              <span></span>
            </div>

          </div>

          <div class = 'col-xs-4 col-sm-3 col-md-4 pull-right flex-nav-shop nav-element'>

            <div id="shopcount" class="flex-nav">
                <a href = "/cart" class=".b-cart__count navCartCount"><p><%=!current_order.nil? ? current_order.item_count  : 0%></p></a>
            </div>

            <a href="/cart">
              <div id = "cart-test"></div>
            </a>

          </div>

        </div>

            <!-- <div id="user" class='col-xs-3 visible-md visible-lg'>
              <a href="/account" class="navUser">
              </a>
            </div>
            <div id="shopcount" class='col-xs-3'>
                <a href = "/cart" class=".b-cart__count navCartCount"><%#=!current_order.nil? ? current_order.item_count  : 0%></a>
              </a>
            </div>

            <div id="shopcart" class='col-xs-3 visible-md visible-lg'>
              <a href="/cart" class="navCart">
              </a>
            </div>

            <div id="hamburger" class='col-xs-3 pull-right'>
              <div id="nav-icon1" class="open-burger">
                <span></span>
                <span></span>
              </div>
            </div> -->

        </div>


        <div id="menuBar" class="menuBar">

          <div class="menuText row">

            <a href="/" class="col-md-2 col-md-offset-1 homelink"><%=Spree.t("home") %></a>

            <a href="/about" class="col-md-2 aboutlink"><%=Spree.t(:our_story)%></a>

            <a href="/events" class="col-md-2 aboutlink"><%= Spree.t(:event) %></a>

            <a href="/cart" class="col-md-2 aboutlink"><%= Spree.t(:cart) %></a>

            <a href="/menu" class="col-md-2 homelink"><%= Spree.t(:menu) %></a>

            <% if current_spree_user %>
              <a href="/account" class="col-md-2 loginlink"><%= Spree.t(:profile) %></a>
            <% else %>
              <a href="/account" class="col-md-2 loginlink"><%= Spree.t(:login) %></a>
            <% end %>

          </div>

      </div>
    </div>
  </header>
</div>
  <!-- <div class="container"> -->
    <!-- <#%= render partial: 'spree/shared/main_nav_bar' if store_menu? %> -->
  <!-- </div> -->
