<% content_for :head do %>
  <% if products.respond_to?(:total_pages) %>
    <%= rel_next_prev_link_tags products %>
  <% end %>
<% end %>

<!-- #shop-picture to match the design -->

<div id="shop-picture">
  <div class="container">
    <div class="row flex-fix">

      <div class="col-xs-6">
        <div class="shop-slider-text">
          <p>
            <%= Spree.t(:shop) %>
          </p>
        </div>
      </div>
      <div class="col-xs-6"></div>

    </div>
  </div>
</div>

<!-- 3 Box Choices -->



<div class = "container"> 
  <div class = "row">
    <div class = "col-md-4 visible-md visible-lg">
      <div class="vert-box red-box">
        <div class="box-pattern">

          <div class="box-picture">
            <img src="/assets/red-box.png" />
          </div>

          <div class="box-information">

            <div class="box-name">
              <p style="color: #F66">红色框</p>
            </div>

            <div class = "box-description">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                Aenean suscipit convallis libero quis dictum. Proin accumsan sit 
                amet tellus pulvinar egestas. Ut quis bibendum nisi, ut venenatis mi. 
                Cras auctor finibus commodo. Curabitur ullamcorper sapien in 
                dignissim congue.
              </p>
            </div>

            <a href="#">
              <div class="ghost-button-alternate gba-red">
                <p>HEY LISTEN</p>
              </div>
           </a>

          </div>
        </div>

      </div>
    </div>

    <div class = "col-md-4 visible-md visible-lg">

      <div class="vert-box yellow-box">
        <div class="box-pattern">

          <div class="box-picture">
            <img src="/assets/yellow-box.png" />
          </div>

          <div class="box-information">

            <div class="box-name">
              <p style="color: #FEFF3A">黄色盒子</p>
            </div>

            <div class = "box-description">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                Aenean suscipit convallis libero quis dictum. Proin accumsan sit 
                amet tellus pulvinar egestas. Ut quis bibendum nisi, ut venenatis mi. 
                Cras auctor finibus commodo. Curabitur ullamcorper sapien in 
                dignissim congue.
              </p>
            </div>

            <a href="#">
              <div class="ghost-button-alternate gba-yellow">
                <p>HEY LISTEN</p>
              </div>
           </a>
            
          </div>
        </div>

      </div>
    </div>

    <div class = "col-md-4 visible-md visible-lg">
      <div class="vert-box green-box">
        <div class="box-pattern">

          <div class="box-picture">
            <img src="/assets/green-box.png" />
          </div>

          <div class="box-information">

            <div class="box-name">
              <p style="color: #39B54A">绿色盒子</p>
            </div>

            <div class = "box-description">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                Aenean suscipit convallis libero quis dictum. Proin accumsan sit 
                amet tellus pulvinar egestas. Ut quis bibendum nisi, ut venenatis mi. 
                Cras auctor finibus commodo. Curabitur ullamcorper sapien in 
                dignissim congue.
              </p>
            </div>

            <a href="#">
              <div class="ghost-button-alternate gba-green">
                <p>HEY LISTEN</p>
              </div>
           </a>

          </div>
        </div>

      </div>
    </div>


  <div class = "row">
    <div class = "col-xs-12 visible-xs visible-sm horz-box red-box">

    </div>

    <div class = "col-xs-12 visible-xs visible-sm horz-box yellow-box">
    
    </div>

    <div class = "col-xs-12 visible-xs visible-sm horz-box green-box">
    
    </div>
  </div>
</div>



<!-- Sorting Menu for Products -->

<!-- <div id="sortin-it-out">
  <div class="container">
    <div class="row"> -->

      <!-- Circular Buttons for Categories -->

      <!-- <div class="col-xs-10 col-xs-offset-1">
        <%#= link_to products_path(categories: "Juice"), method: :get do%>
            <div class="col-xs-3 visible-md visible-lg">
              <div class="sorting-hat juice-picture">
                <p class="sorting-text">
                  <%#= #Spree.t(:juice) %>
                </p>
              </div>
            </div>
          <%#end%>

          <%#=link_to products_path(categories: "Smoothies"), method: :get  do%>
            <div class="col-xs-3 visible-md visible-lg">
              <div class="sorting-hat smoothie-picture">
                <p class="sorting-text">
                  <%#= Spree.t(:smoothie) %>
                </p>
              </div>
            </div>
          <%#end%>
          <%#=link_to products_path(categories: "Tea"), method: :get  do%>
            <div class="col-md-3 visible-md visible-lg">
              <div class="sorting-hat tea-picture">
                <p class="sorting-text">
                  <%#= Spree.t(:tea) %>
                </p>
              </div>
            </div>
          <%#end%>

            <%#=link_to products_path, method: :get do%>
              <div class="col-md-3 visible-md visible-lg">
                <div class="sorting-hat-all">
                  <p class="sorting-text-all">
                    <%#= Spree.t(:all) %>
                  </p>
                </div>
              </div>
          <%#end%>

      </div> -->

      <!-- Small buttons for categories (Mobile) -->
    <!-- <div class="col-xs-12 visible-xs visible-sm">
      <div id="sortin-it-out">
        <div class="btn-group btn-block" style="margin:5px 0 10px 0;">

        <a data-method="get" href="/products?categories=Juice" type="button" class="btn btn-primary">
        <span style="font-size: smaller"><%#= Spree.t(:juice) %></span></a>

        <a data-method="get" href="/products?categories=Smoothies" type="button" class="btn btn-primary">
        <span style="font-size: smaller"><%#= Spree.t(:smoothie) %></span></a>

        <a data-method="get" href="/products?categories=Tea" type="button" class="btn btn-primary">
        <span style="font-size: smaller"><%#= Spree.t(:tea) %></span></a>

        <a data-method="get" href="/products" type="button" class="btn btn-primary">
        <span style="font-size: smaller"><%#= Spree.t(:all) %></span></a>
            </div>
      </div>
    </div> -->
<!--
    </div>
  </div>
</div> -->


<!-- spree loads the products -->
<!--
<div class="container">
  <div data-hook="products_search_results_heading">
    <% if products.empty? %>
      <div data-hook="products_search_results_heading_no_results_found">
        <%= Spree.t(:no_products_found) %>
      </div>
    <% elsif params.key?(:keywords) %>
      <div data-hook="products_search_results_heading_results_found">
        <h6 class="search-results-title"><%= Spree.t(:search_results, keywords: h(params[:keywords])) %></h6>
      </div>
    <% end %>
  </div>

  <% if products.any? %>

  <div id="products" class="row" data-hook>
<% products.each do |product| %>
  <% url = spree.product_path(product, taxon_id: @taxon.try(:id)) %>
  <div id="product_<%= product.id %>" class="col-md-4 col-sm-6 col-xs-12 product-list-item" data-hook="products_list_item" itemscope itemtype="https://schema.org/Product">
    <div class="panel panel-default">
      <% cache(@taxon.present? ? [I18n.locale, current_currency, @taxon, product] : cache_key_for_product(product)) do %>
      <a href="<%=url%>">

        <div class="panel-body text-center product-body">

          <%= link_to url, itemprop: "url" do %>
            <%= small_image(product, itemprop: "image", class:"item__img") %><br/>
            <%= content_tag(:span, truncate(product.name, length: 50), class: 'info', itemprop: "name", title: product.name) %>
          <% end %>
          
          <span class="ingredients">
            <%=  product.description %>
          </span>

          <span class="price selling lead" itemprop="price"><%= display_price(product)[0..-4] %></span>
        </div>

        <%= form_for :order, id: "add-to-cart-from-product-index", remote: true, url: populate_orders_path, method: 'post' do |f| %>
        <%= hidden_field_tag "variant_id", product.master.id %>
        <%= hidden_field_tag "quantity", 1 %>
      </a> --> 

      <!--

              <%= f.submit Spree.t(:add_to_cart), class: 'add-to-cart ghost-button-blue-alt' do %>
                  <div class="panel-footer text-center"> 
                    <span itemprop="offers" itemscope itemtype="https://schema.org/Offer"> 
                      <p><big>
                        <%= Spree.t(:add_to_cart) %> 
                      </big></p>
                     </span> 
                  </div> -->

                  <!--
                  <% end %>
                  <% end %>
              <% end %>
            </div>
          </div>
        <% end %>
        <% reset_cycle("classes") %>
      </div>

  <% end %>

  <% if products.respond_to?(:total_pages) %>
    <%= paginate products, theme: 'twitter-bootstrap-3' %>
  <% end %>
</div>
-->
