<% content_for :head do %>
  <% if products.respond_to?(:total_pages) %>
    <%= rel_next_prev_link_tags products %>
  <% end %>
<% end %>

<!-- #shop-picture to match the design -->

<div id="shop-picture">
  <div class="container">
    <div class="row">

      <div class="col-xs-6">
        <div class="shop-slider-text">
          <p>
            Shop ;)
          </p>
        </div>
      </div>
      <div class="col-xs-6"></div>

    </div>
  </div>
</div>

<!-- Sorting Menu for Products -->

<div id="sortin-it-out">
  <div class="container">
    <div class="row">

      <div class="col-xs-1">
         <!-- intentionally blank for spacing  -->
      </div>

      <div class="col-xs-10">

        <!-- Circular Buttons for Categories -->

          <div class="col-xs-4 visible-md visible-lg">
            <div class="sorting-hat">
              <img src="assets/bottle_search.png" />
              <span class="sorting-text">
                <p>
                  Juice
                </p>
              </span>
            </div>
          </div>

          <div class="col-xs-4 visible-md visible-lg">
            <div class="sorting-hat">
              <img src="assets/cup_search.png" />
              <span class="sorting-text">
                <p>
                  Smoothie
                </p>
              </span>
            </div>
          </div>

          <div class="col-md-4 visible-md visible-lg">
            <div class="sorting-hat">
              <img src="assets/glass_search.png" />
              <span class="sorting-text">
                <p>
                  Tea
                </p>
              </span>
            </div>
          </div>

            <!-- Small buttons for categories (Mobile) -->
          <div class="col-xs-12 visible-xs visible-sm">
            <div id="sortin-it-out">
              <div class="btn-group btn-block" style="margin:5px 0 10px 0;">
                <button type="button" class="btn btn-primary"><span style="font-size: smaller">Juice</span></button>
                <button type="button" class="btn btn-primary"><span style="font-size: smaller">Smoothie</span></button>
                <button type="button" class="btn btn-primary"><span style="font-size: smaller">Tea</span></button>
              </div>
            </div>
          </div>


      </div>

      <div class="col-xs-1">
        <!-- intentionally blank for spacing  -->
      </div>

    </div>
  </div>
</div>


<!-- spree loads the products -->

<div class="container">
  <div data-hook="products_search_results_heading">
    <% if products.empty? %>
      <div data-hook="products_search_results_heading_no_results_found">
        <%= Spree.t(:no_products_found) %>
      </div>
    <% elsif params.key?(:keywords) %>
      <div data-hook="products_search_results_heading_results_found">
        <h6 class="search-results-title"><%= Spree.t(:search_results, keywords: h(params[:keywords])) %></h6>
      </div>
    <% end %>
  </div>

  <% if products.any? %>

  <div id="products" class="row" data-hook>
<% products.each do |product| %>
  <% url = spree.product_path(product, taxon_id: @taxon.try(:id)) %>
  <div id="product_<%= product.id %>" class="col-md-4 col-sm-6 col-xs-12 product-list-item" data-hook="products_list_item" itemscope itemtype="https://schema.org/Product">
    <div class="panel panel-default">
      <% cache(@taxon.present? ? [I18n.locale, current_currency, @taxon, product] : cache_key_for_product(product)) do %>
      <!-- this <a> tag needs to link to teh variable url -->
      <a href="<%=url%>">
        <div class="panel-body text-center product-body">

          <%= link_to url, itemprop: "url" do %>
            <%= small_image(product, itemprop: "image", class:"item__img") %><br/>
            <%= content_tag(:span, truncate(product.name, length: 50), class: 'info', itemprop: "name", title: product.name) %>
          <% end %>
        </br>
          <span class="ingredients"><p>

          <%=  product.description %>
          </p>
          </span>
          <span class="price selling lead" itemprop="price"><%= display_price(product)[0..-4] %></span>
        </div>
        <%= form_for :order, id: "add-to-cart-from-product-index", remote: true, url: populate_orders_path, method: 'post' do |f| %>
        <%= hidden_field_tag "variant_id", product.master.id %>
        <%= hidden_field_tag "quantity", 1 %>
      </a>

              <%= f.submit "Add to Cart", class: 'add-to-cart ghost-button-blue' do %>
                  <!-- <div class="panel-footer text-center"> -->
                    <!-- <span itemprop="offers" itemscope itemtype="https://schema.org/Offer"> -->
                      <p><big>
                        <!-- <%= Spree.t(:add_to_cart) %> -->
                      </big></p>
                    <!-- </span> -->
                  <!-- </div> -->
                  <% end %>
                  <% end %>
              <% end %>
            </div>
          </div>
        <% end %>
        <% reset_cycle("classes") %>
      </div>

  <% end %>

  <% if products.respond_to?(:total_pages) %>
    <%= paginate products, theme: 'twitter-bootstrap-3' %>
  <% end %>
</div>
