<!-- <%# @body_id = 'home-page' %>
<%# content_for :sidebar do %>
  <div data-hook="homepage_sidebar_navigation">
    <%= render partial: 'spree/shared/taxonomies' %>
  </div>
<%# end %>
<div data-hook="homepage_products">
  <%# cache(cache_key_for_products) do %>
    <%#= render partial: 'spree/shared/products', locals: { products: @products } %>
  <%# end %>
</div> -->

<!-- Splash Picture -->

<div id="splash-picture">
  <div class="container">
    <div class="row">

      <div class="col-xs-12 col-sm-6 visible-sm visible-md visible-lg"></div>

      <div class="col-xs-12 col-sm-6">
        <div class="slider-text">
          <p class="splash-text">
            人生不一定<span class='rwd-break'>要最好，</span><br />
            但一定要更好
          </p>
          <a style="display: block" href="/products">
            <div class="ghost-button-white">
              <p>
                SHOP NOW
              </p>
            </div>
          </a>
        </div>
      </div>

    </div>
  </div>
</div>

<!-- Slick Mobile Featurette -->
<% if @products.count >= 4 %>
<div class='featurette-mobile col-xs-12 visible-xs'>
  <div class='center'>
    <div>

      <div class="juice-box">

      <%= link_to spree.product_path(@featured_one) do %>
        <img src="/assets/bottle.png" />
        <% end %>

        <div class="juice">

          <%= link_to spree.product_path(@featured_one) do %>
          <p class="productName">
            <!-- erb to grab featured product name -->
            <%=@featured_one.name %>
          </p>
          <% end %>

          <p class="ingredients">
              <!-- erb to grab featured product ingredients -->
              <%=@featured_one.description%>
          </p>

          <p class="productPrice">
              $<%=@featured_one.price.to_i%>
              <!-- erb to grab featured product price -->
          </p>

        </div>

    </div>


    </div>

    <div>
      <div class="juice-box">
        <%= link_to spree.product_path(@featured_two) do %>
        <img src="/assets/cup.png" />
        <% end %>
        <div class="smoothie">
          <%= link_to spree.product_path(@featured_two) do %>
          <p class="productName">
            <!-- erb to grab featured product name -->
            <%=@featured_two.name %>
          </p>
          <% end %>

          <p class="ingredients">
              <!-- erb to grab featured product ingredients -->
              <%=@featured_two.description%>
          </p>

          <p class="productPrice">
              $<%=@featured_two.price.to_i%>
              <!-- erb to grab featured product price -->
          </p>

        </div>

      </div>
    </div>

    <div>
      <div class="juice-box">
        <%= link_to spree.product_path(@featured_three) do %>
        <img src="/assets/bottle.png" />
        <% end %>
        <div class="juice">
          <%= link_to spree.product_path(@featured_three) do %>

          <p class="productName">
            <!-- erb to grab featured product name -->
            <%=@featured_three.name %>
          </p>
          <% end %>
          <p class="ingredients">
              <!-- erb to grab featured product ingredients -->
              <%=@featured_three.description%>
          </p>

          <p class="productPrice">
              $<%=@featured_three.price.to_i%>
              <!-- erb to grab featured product price -->
          </p>

        </div>

      </div>
    </div>
    <div>
      <div class="juice-box">
        <%= link_to spree.product_path(@featured_four) do %>
        <img src="/assets/glass.png" />
        <% end %>
        <div class="tea">

          <%= link_to spree.product_path(@featured_four) do %>
          <p class="productName">
            <!-- erb to grab featured product name -->
            <%=@featured_four.name %>
          </p>
          <% end %>

          <p class="ingredients">
              <!-- erb to grab featured product ingredients -->
              <%=@featured_four.description%>
          </p>

          <p class="productPrice">
              $<%=@featured_four.price.to_i%>
              <!-- erb to grab featured product price -->
          </p>

        </div>

      </div>
    </div>
  </div>
</div>

<!-- We can add erb to grab each featured drink and place/style them to match
the style on the first feature. -->

<div id="featurette">
  <div class="container">
    <div class="row">

      <%= link_to link_to spree.product_path(@featured_one) do %>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 visible-sm visible-md visible-lg">

        <div class="juice-box">

          <img src="/assets/bottle.png" />

          <div class="juice">

            <p class="productName">
              <!-- erb to grab featured product name -->
              <%=@featured_one.name %>
            </p>

            <p class="ingredients">
                <!-- erb to grab featured product ingredients -->
                <%=@featured_one.description%>
            </p>

            <p class="productPrice">
                $<%=@featured_one.price.to_i%>
                <!-- erb to grab featured product price -->
            </p>

          </div>

        </div>

      </div>
      <% end %>


      <div class="col-sm-6 col-md-4 col-lg-3 visible-sm visible-md visible-lg">
        <%= link_to spree.product_path(@featured_two) do %>
        <div class="juice-box">

          <img src="/assets/cup.png" />

          <div class="smoothie">

            <p class="productName">
              <!-- erb to grab featured product name -->
              <%=@featured_two.name %>
            </p>

            <p class="ingredients">
                <!-- erb to grab featured product ingredients -->
                <%=@featured_two.description%>
            </p>

            <p class="productPrice">
                $<%=@featured_two.price.to_i%>
                <!-- erb to grab featured product price -->
            </p>

          </div>
        </div>
        <%end%>
      </div>

      <div class="col-md-4 col-lg-3 visible-md visible-lg">
        <%= link_to spree.product_path(@featured_three) do %>

        <div class="juice-box">

          <img src="/assets/glass.png" />

          <div class="tea">

            <p class="productName">
              <!-- erb to grab featured product name -->
              <%=@featured_three.name %>
            </p>

            <p class="ingredients">
                <!-- erb to grab featured product ingredients -->
                <%=@featured_three.description%>
            </p>

            <p class="productPrice">
                $<%=@featured_three.price.to_i%>
                <!-- erb to grab featured product price -->
            </p>

          </div>
        </div>
        <%end%>
      </div>

      <div class="col-lg-3 visible-lg">
        <%= link_to spree.product_path(@featured_four) do %>

        <div class="juice-box">

          <img src="/assets/bottle.png" />

          <div class="juice">

            <p class="productName">
              <!-- erb to grab featured product name -->
              <%=@featured_four.name %>
            </p>

            <p class="ingredients">
                <!-- erb to grab featured product ingredients -->
                <%=@featured_four.description%>
            </p>

            <p class="productPrice">
                $<%=@featured_four.price.to_i%>
                <!-- erb to grab featured product price -->
            </p>

          </div>
        </div>
        <%end%>

      </div>
    </div>
  </div>
</div>
    <%else%>
    <div class="row">
      <a style="display: block" href="/admin">
        <div class="ghost-button-blue">
          <p>
            Add four products or more here
          </p>
        </div>
      </a>

    </div>
    <%end%>
  </div>
</div>

<div id="big-links">
    <div class="row no-gutters">

      <div class="col-md-6">
        <div class="big-text-box">
          <span class="big-text">
            <p>
              Test Test Test </br>
              Boom Boom Juice.
            </p>
          </span>
          <a style="display: block" href="/about">
            <div class="ghost-button-blue">
              <p>
                ABOUT US
              </p>
            </div>
          </a>
        </div>
      </div>

      <div class="col-md-6">
        <div class="big-picture-fruit">
          <!-- <img src="assets/grapefruit_sm.jpg" /> -->
        </div>
      </div>

      <div class="col-md-6 col-md-push-6">
        <div class="big-text-box">
          <span class="big-text">
            <p>
              Test Test Test </br>
              Boom Boom Juice.
            </p>
          </span>
          <a style="display: block" href="/nutrition">
            <div class="ghost-button-pink">
              <p>
                NUTRITION
              </p>
            </div>
          </a>
        </div>
      </div>

      <div class="col-md-6 col-md-pull-6">
        <div class="big-picture-yoga">
          <!-- <img src="assets/yoga_sm.jpg" /> -->
        </div>
      </div>

    </div>
</div>

<!-- footer partial goes here -->
