<!-- <%# @body_id = 'home-page' %>
<%# content_for :sidebar do %>
  <div data-hook="homepage_sidebar_navigation">
    <%#= render partial: 'spree/shared/taxonomies' %>
  </div>
<%# end %>
<div data-hook="homepage_products">
  <%# cache(cache_key_for_products) do %>
    <%#= render partial: 'spree/shared/products', locals: { products: @products } %>
  <%# end %>
</div> -->

<!-- Splash Picture -->

<div id="splash-picture">
  <div class="container">
    <div class="row">

      <div class="col-xs-12 col-sm-6 visible-sm visible-md visible-lg"></div>

      <div class="col-xs-12 col-sm-6">
        <div class="slider-text">
          <p class="splash-text">
            卡諾比只提供最好的全植物性餐點和飲品。
            <!-- <span class='rwd-break'></span><br /> -->
          </p>
          <!-- <a style="display: block" href="#featurette"> -->
            <div class="btn-white" onClick='animateScroll()'>
              <p>
                <%= Spree.t(:shop_now)%>
              </p>
            </div>
         <!-- </a> -->
        </div>
      </div>

    </div>
  </div>
</div>

<!-- Slick Mobile Featurette -->
<div class='featurette-mobile col-xs-12 visible-xs visible-sm'>
  <div class='center'>

     <div>
         <%= link_to spree.product_path(@first) do %>
        <div class="vert-box red-box">
          <div class="box-pattern">

            <div class="box-picture">
          <%= image_tag(@first.images.last.attachment_file_name) if @first.images.last.present?  %>

            </div>

            <div class="box-information">

              <div class="box-name">
                <p style="color: #F66"><%=@first.name %></p>
              </div>

              <div class = "box-description">
                <p>
                  <%=@first.description%>
                </p>
              </div>

              <div class="slider-btn-container">
                <!-- <a href="#"> -->
                  <div class="ghost-button-alternate gba-red">
                    <p> <!-- $<%#=@first.price.to_i%> --> 學到更多</p>
                  </div>
                <!-- </a> -->
              </div>

            </div>
          </div>

        </div>
        <%end%>
      </div>


      <div>
          <%= link_to spree.product_path(@second) do %>

        <div class="vert-box yellow-box">
          <div class="box-pattern">

            <div class="box-picture">
          <%= image_tag(@second.images.last.attachment_file_name) if @second.images.last.present?  %>

            </div>

            <div class="box-information">

              <div class="box-name">
                <p style="color: #FEFF3A"><%=@second.name%></p>
              </div>

              <div class = "box-description">
                <p>
                <%=@second.description%>
                </p>
              </div>

              <div class="slider-btn-container">
                <!--- <a href="#"> -->
                  <div class="ghost-button-alternate gba-yellow">
                    <p> <!-- $<%#=@first.price.to_i%> --> 學到更多</p>
                  </div>
              <!--  </a> -->
              </div>

            </div>
          </div>

        </div>
        <%end%>
      </div>

      <div>
                <%= link_to spree.product_path(@third) do %>

        <div class="vert-box green-box">
          <div class="box-pattern">

            <div class="box-picture">
\          <%= image_tag(@third.images.last.attachment_file_name) if @third.images.last.present?  %>

            </div>

            <div class="box-information">

              <div class="box-name">
                <p style="color: #39B54A"> 
                <%=@third.name%></p>
              </div>

              <div class = "box-description">
                <p>
       
      <%= @third.description %>                </p>
              </div>

              <div class="slider-btn-container">

                <!-- <a href="#"> -->
                  <div class="ghost-button-alternate gba-green">
                    <p> <!-- $<%#=@first.price.to_i%> --> 學到更多</p>
                  </div>
               <!-- </a> -->
              </div>

            </div>
          </div>

        </div>
        <%end%>
      </div>
      <!--

      <div class="juice-box">

      <%#= link_to spree.product_path(@first) do %>
        <%= image_tag("bottle.png")%>
        <#% end %>

        <div class="juice">

          <%#= link_to spree.product_path(@first) do %>
          <p class="productName">

            <%#=@first.name %>
          </p>
          <#% end %>

          <p class="ingredients">

              <%#=@first.description%>
          </p>

          <p class="productPrice">
              $<%#=@first.price.to_i%>

          </p>

        </div>

    </div>


    </div> -->

  </div>
</div>



<!-- We can add erb to grab each featured drink and place/style them to match
the style on the first feature.  -->

<div id="featurette">
  <div class="container">
    <div class="row">
      
      <div class = "col-md-4 visible-md visible-lg">
          <%= link_to spree.product_path(@first) do %>
        <div class="vert-box red-box">
          <div class="box-pattern">

            <div class="box-picture">
              <%= image_tag(@first.images.last.attachment_file_name) if @first.images.last.present?  %>

            </div>

            <div class="box-information">

              <div class="box-name">
                <p style="color: #F66"><%=@first.name%>
                  </p>
              </div>

              <div class = "box-description">
                <p>
              <%=@first.description%>
                </p>
              </div>
              
              <div class="slider-btn-container">
                <!-- <a href="#"> -->
                  <div class="ghost-button-alternate gba-red">
                    <p> <!-- $<%#=@first.price.to_i%> --> 學到更多</p>
                  </div>
                <!-- </a> -->
              </div>
              
            </div>
          </div>
          
        </div>
        <% end %>
      </div>
      
      
      <div class = "col-md-4 visible-md visible-lg">
        
        <%= link_to spree.product_path(@second) do %>
        <div class="vert-box yellow-box">
          <div class="box-pattern">

            <div class="box-picture">
          <%= image_tag(@second.images.last.attachment_file_name) if @second.images.last.present?  %>

            </div>

            <div class="box-information">

              <div class="box-name">
                <p style="color: #FEFF3A"><%=@second.name%></p>
              </div>

              <div class = "box-description">
                <p>
                <%=@second.description%>
                </p>
              </div>

              <div class="slider-btn-container">
                <!-- <a href="#"> -->
                  <div class="ghost-button-alternate gba-yellow">
                    <p> <!-- $<%#=@first.price.to_i%> --> 學到更多</p>
                  </div>
                <!-- </a> -->
              </div>
              
            </div>
          </div>
          
        </div>
        <% end %>
      </div>
      
      
      <div class = "col-md-4 visible-md visible-lg">
          <%= link_to spree.product_path(@third) do %>
        <div class="vert-box green-box">
          <div class="box-pattern">

            <div class="box-picture">
          <%= image_tag(@third.images.last.attachment_file_name) if @third.images.last.present?  %>
            </div>

            <div class="box-information">

              <div class="box-name">
                <p style="color: #39B54A"><%=@third.name%></p>
              </div>

              <div class = "box-description">
                <p>
                  <%=@third.description%>
                </p>
              </div>

              <div class="slider-btn-container">
                <!-- <a href="#"> -->
                  <div class="ghost-button-alternate gba-green">
                    <p> <!-- $<%#=@first.price.to_i%> --> 學到更多</p>
                  </div>
                <!-- </a> -->
              </div>

            </div>
          </div>

        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div>
  <div class="col-sm-offset-3 col-sm-6 build-button">

    
        <%= link_to spree.product_path(@build_your_own_box) do %>
          <div class =" ghost-button-blue" >
           <p class = "build-box-text-or-button nathan beautify please"><%=@build_your_own_box.name%></p>
          </div>
         <% end %>

   </div>
   </div>
</div>

    <!--

      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 visible-md visible-lg">
        <%#= link_to spree.product_path(@first) do %>

        <div class="juice-box">

          <%= image_tag("bottle.png")%>

          <div class="juice">

            <p class="productName">

              <%#=@first.name %>
            </p>

            <p class="ingredients">

                <%#=@first.description%>
            </p>

            <p class="productPrice">
                $<%#=@first.price.to_i%>

            </p>

          </div>

        </div>

      </div>
      <%# end %>


      <div class="col-sm-6 col-md-4 col-lg-3 visible-sm visible-md visible-lg">
        <%#= link_to spree.product_path(@second) do %>
        <div class="juice-box">

          <%= image_tag("cup.png")%>

          <div class="smoothie">

            <p class="productName">

              <%#=@second.name %>
            </p>

            <p class="ingredients">

                <%#=@second.description%>
            </p>

            <p class="productPrice">
                $<%#=@second.price.to_i%>

            </p>

          </div>
        </div>
        <%#end%>
      </div>

      <div class="col-md-4 col-lg-3 visible-md visible-lg">
        <%#= link_to spree.product_path(@third) do %>

        <div class="juice-box">

          <%= image_tag("glass.png")%>

          <div class="tea">

            <p class="productName">

              <%#=@third.name %>
            </p>

            <p class="ingredients">

                <%#=@third.description%>
            </p>

            <p class="productPrice">
                $<$%#=@third.price.to_i%>

            </p>

          </div>
        </div>
        <%#end%>
      </div>

      <div class="col-lg-3 visible-lg">
        <%#= link_to spree.product_path(@featured_four) do %>

        <div class="juice-box">

          <%= image_tag("bottle.png")%>

          <div class="juice">

            <p class="productName">

              <%#=@featured_four%>
            </p>

            <p class="ingredients">

                <%#=@featured_four.description%>
            </p>

            <p class="productPrice">
                $<%#=@featured_four.price.to_i%>

            </p>

          </div>
        </div>
        <%#end%>

      </div>
    </div>
  </div>
</div>
    <%#else%>
    <div class="row">
      <a style="display: block" href="/admin">
        <div class="ghost-button-blue">
          <p>
            Add four products or more here
          </p>
        </div>
      </a>

    </div>
    <%#end%>
  </div>
</div>

-->

<div id="big-links">
    <div class="row no-gutters">

      <div class="col-md-6">
        <div class="big-text-box">
          <span class="big-text">
            <p>
              Test Test Test </br>
              Boom Boom Juice.
            </p>
          </span>
          <a style="display: block" href="/about">
            <div class="ghost-button-blue">
              <p>
                <%= Spree.t(:about_us)%>
              </p>
            </div>
          </a>
        </div>
      </div>

      <div class="col-md-6">
        <div class="big-picture-dog">

        </div>
      </div>

      <div class="col-md-6 col-md-push-6">
        <div class="big-text-box">
          <span class="big-text">
            <p>
              Test Test Test </br>
              Boom Boom Juice.
            </p>
          </span>
          <a style="display: block" href="/nutrition">
            <div class="ghost-button-pink">
              <p>
                <%= Spree.t(:nutrition)%>
              </p>
            </div>
          </a>
        </div>
      </div>

      <div class="col-md-6 col-md-pull-6">
        <div class="big-picture-nutrition">

        </div>
      </div>

    </div>
</div>

<!-- footer partial goes here -->
